body{
    background:#541554;
}

.logo{
    position: relative;
    top:17px;
    left:55px;
    width:120x;
    height:50px;
    border-radius: 40px;
}

.ullist{
   text-align: center;
}

.list{
    display:inline;
    position:relative;
    left:-5px;
    top:-63px;
    margin:15px;
    color:white;
    font-size: 17px;
    font-weight: bold;
}

.click{
    position:relative;
    padding:10px;
    margin:10px;
}

#signin{
    width:100px;
    height:50px;
    border-radius: 20px;
    position:relative;
    top:-63px;
    font-size: 14px;
    right:-100px;
    color:white;
    background:none;
    border:none;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

#sales{
    width:150px;
    height:50px;
    border-radius: 5px;
    position:relative;
    top:-63px;
    right:-90px;
    font-size: 14px;
    border:2px solid white;
    background: none;
    color:white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

#try{
    width:150px;
    height:50px;
    border-radius: 5px;
    position:relative;
    top:-63px;
    right:-90px;
    font-size: 14px;
    color:#541554;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.heading{
    position: relative;
    top:-50px;
    left:60px;
}

.text{
    font-size: 70px;
}

#st{
    color:white;
}

#nd{
    color:orange
}

.div{
    position:relative;
    top:5px;
}

.heading2{
    position: relative;
    top:-50px;
    left:60px;
    line-height: 1.3;
    word-spacing: 3px;
}

.text2{
    font-size: 20px;
    color:white;
    font-family:'Times New Roman', Times, serif;
}

.email{
    width:290px;
    height:45px;
    border-radius: 5px;
    position:relative;
    font-size: 14px;
    border:2px solid white;
    background:white;
    color:#541554;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin:auto;
    position:relative;
    left:55px;
    top:-25px;
}

.email:hover{
    color:white;
    background: none;
    border:2px solid white;
}

.google{
    width:220px;
    height:50px;
    border-radius: 5px;
    font-size: 14px;
    border:2px solid white;
    background:#4285f4;
    color:white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin:auto;
    position:relative;
    left:60px;
    top:-25px;
}

.google:hover{
    color:white;
    background: red;
    border:2px solid white;
}

.footer{
    position: relative;
    top:-13px;
    left:60px;
    font-size: 18px;
    color:white;
    letter-spacing: 1px;
}

.span{
    font-weight: bold;
}

#products:hover{
    text-decoration:3px solid  underline;
    text-decoration-color:orange;
    text-underline-offset: 8px;
}

#solutions:hover{
    text-decoration:3px solid  underline;
    text-decoration-color:orange;
    text-underline-offset: 8px;
}

#enterprise:hover{
    text-decoration:3px solid  underline;
    text-decoration-color:orange;
    text-underline-offset: 8px;
}

#resources:hover{
    text-decoration:3px solid  underline;
    text-decoration-color:orange;
    text-underline-offset: 8px;
}

#pricing:hover{
    text-decoration:3px solid  underline;
    text-decoration-color:orange;
    text-underline-offset: 8px;
}

#signin:hover{
    color:orange;
}

#sales:hover{
    background: orange;
    color:white;
    border:2px solid white;
}

#try:hover{
    background: orange;
    color:white;
    border:2px solid white;
}

.image{
    position: relative;
    top:-360px;
    left:715px;
    width:500px;
    height:300px;
    border-radius: 40px;;
}